.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-area {
    padding: 10px;
}

.cart-area {
    background-color: #FF990070;
    padding: 10px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 120px;
}

.cart-container {
    margin-top: 28px;
}
