.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-area {
    padding: 10px;
}

.cart-area {
    background-color: #FFE0B3;
    padding: 10px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin-top: 108px;
}

.cart-container {
    margin-top: 28px;
}

.order-info {
    margin-top: 50px;
}
