.product-card {
    width: 300px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
}

.product-card:hover {
    border: 2px solid gray;
}

.product-card img {
    width: 100%;
    height: 286px;
}

.product-card button {
    width: 100%;
    height: 48px;
    background-color: #FF990070;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-card-info {
    padding: 5px;
}