.card {
    height: 450px;
    width: 13rem;
    border: 2px solid lightgray;
    border-radius: 8px;
    position: relative;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-info {
    padding: 5px;
}

.card-info p {
    margin: 10px 0px;
}

.card-button button {
    width: 100%;
    height: 48px;
    border-radius: 0px 0px 8px 8px;
    background-color: #FFE0B3;
    position: absolute;
    bottom: 0;
}

.card-button button:hover {
    background-color: orange;
}